.myclass {
  color: black;
}

ul,
li {
  list-style: none;
}

.bg-header {
  background-color: #3e3c3c;
}

.navbar-name {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  
}

.navbar-buttons {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

}

.hey-there {
  color:#F55800;
  font-family: Crete Round;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0em;
  text-align: left;
  top: 20%;
  position: relative;
}

.headline-section {
  height: calc(100vh-68px);
  background-color:  #1C1A19;
}